
.content img{	
margin: 0px;
width: 200px;
height:200px;

}



h2	{
	color: purple;
}
p   {
	font-size: 18px;
}
body	{
	
}
s

}



h1{
	color :  #64e1e3 ; 
	font-size: 50px;
	font-family: Arial Rounded MT Bold;
	text-align: center;


}
.banner {
  background: linear-gradient(135deg, rgba(56, 57, 59, 0.2) 0%, rgba(84, 82, 16, 0.4) 100%), 
 url(https://static.pexels.com/photos/603856/pexels-photo-603856.jpeg);
  text-align: center;
  font-family: "Arial Rounded MT Bold";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  padding: 250px 0px;
  color: #64e1e3;
  size: 120%;
  background-size: cover;
}



#logopet 
	
{ 

width: 150px;
	height: : 150px;
	position: absolute;
	top: 20px;
	left: 20px;

 }


body {

	margin: 20px;
}


.button {
  color: #64e1e3;
  border: 4px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0,9;
  position: absolute;
  right: 350px;
  top:350px;
  text-decoration: none;
}
.button:hover {
  opacity: 10;
  text-decoration: none;
  color: #999999;
}





p{
	font-size: 30px;
	font-family: "Arial Rounded MT Bold";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
}

#top1


 {

     color: #64e1e3;
     position: absolute;
    right: 50px;
    top:20px;

}

#top2


 {

     color: #64e1e3;
     position: absolute;
    right: 150px;
    top:20px;

}

#top3


 {

     color: #64e1e3;
     position: absolute;
    right: 250px;
    top:20px;

}

 
 h2 {
    border: 1px solid green;
	border: 2px dashed #AD7A99;
 }
	
h3 {

font-size: 30px;
font-family: "Arial Rounded MT Bold";
font-size: 24px;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 26.4px;
text-align: center;

}

}
div {
	background-color: yellow
	width : 400px
	height: 400px
	padding: 100px
	margin: 200px
	box-shadow: 2px 2px 3px blue;
	border-radius: 30px









